* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 25vw;
    margin: 2rem auto;
    background-color: #ccc;
    border-radius: 1rem;
}

li {
    list-style: none;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.red {
    color: #ff0000;
}